@font-face {
  font-family: "NanumBarunG";
  src: url(./fonts/NanumBarunGothicSubset.woff2);
}

//default setting
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
//swiper setting
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}
// sec1Swiper
#sec1Swiper {
  width: (1300px 100%);
  height: 700px;
  //페이지 숫자
  .swiper-pagination {
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }
  //페이지 스크롤바
  .swiper-scrollbar {
    opacity: 1;
    width: 1300px;
    height: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgba(215, 215, 215, 0.3);
    .swiper-scrollbar-drag {
      background-color: #e2782a;
      height: 4px;
      width: 82.86px;
    }
    .slideThum {
      height: 100%;
      width: 100%;
      color: #fff;
      padding: 20px 0;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        width: 100%;
        height: 168px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
        opacity: 0;
      }
      &:hover:after {
        opacity: 1;
      }
      li {
        height: 100%;
        flex: 1;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          opacity: 0;
          background-color: #e2782a;
          border-radius: 10px;
          top: -24px;
          height: 4px;
          width: 82.86px;
        }
        &:hover:before {
          opacity: 1;
        }
        a {
          position: relative;
          height: 100%;
          img {
            display: block;
            width: 100%;
            height: 120px;
            padding-right: 10px;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            width: calc(100% - 10px);
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }
          &:hover::after {
            opacity: 0;
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
}

#sect2,
#sect3,
#sect4 {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  .contentsWrap {
    display: none;
    padding-top: 50px;
    &.on {
      display: flex;
    }
  }

  b {
    line-height: 16px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    display: block;
  }
  h2 {
    font-size: 35px;
    color: #333;
    text-align: center;
    font-weight: 700;
    height: 155px;
    line-height: 155px;
  }
  .tabs {
    text-align: center;
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
    li {
      flex: 1;
    }
  }
  .moreBtn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    a {
      display: block;
      width: 220px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 15px;
      color: #000;
    }
  }
}
#sect2 {
  height: 800px;
  .contentsWrap {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    li {
      &:hover .rankThumBg {
        transform: scale(1.1);
        transition: 0.5s;
      }
      a {
        width: 380px;
        height: 420px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        .rankThum {
          overflow: hidden;
          position: relative;
          height: 330px;
          .rankThumBg {
            height: 100%;
            transition: 0.5s;
            filter: blur(3px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          figure {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 280px;
            img {
              width: 100%;
              height: 100%;
              filter: none;
            }
          }
        }
        .rankDesc {
          text-align: center;
          width: 100%;
          height: 90px;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
        }
        .rankNum {
          position: absolute;
          bottom: 80px;
          left: 15px;
          width: 45px;
          height: 45px;
          line-height: 45px;
          font-size: 16px;
          text-align: center;
          background: #ec7d2c;
          p{
            color: #fff;
          }
        }
      }
    }

    &:nth-child(1) li {
      &:nth-child(1) .rankThumBg {
        background-image: url(./images/rank1-1.jpg);
      }
      &:nth-child(2) .rankThumBg {
        background-image: url(./images/rank1-2.jpg);
      }
      &:nth-child(3) .rankThumBg {
        background-image: url(./images/rank1-3.jpg);
      }
    }
    &:nth-child(2) li {
      &:nth-child(1) .rankThumBg {
        background-image: url(./images/rank2-1.jpg);
      }
      &:nth-child(2) .rankThumBg {
        background-image: url(./images/rank2-2.jpg);
      }
      &:nth-child(3) .rankThumBg {
        background-image: url(./images/rank2-3.jpg);
      }
    }
    &:nth-child(3) li {
      &:nth-child(1) .rankThumBg {
        background-image: url(./images/rank3-1.jpg);
      }
      &:nth-child(2) .rankThumBg {
        background-image: url(./images/rank3-2.jpg);
      }
      &:nth-child(3) .rankThumBg {
        background-image: url(./images/rank3-3.jpg);
      }
    }
    &:nth-child(4) li {
      &:nth-child(1) .rankThumBg {
        background-image: url(./images/rank4-1.jpg);
      }
      &:nth-child(2) .rankThumBg {
        background-image: url(./images/rank4-2.jpg);
      }
      &:nth-child(3) .rankThumBg {
        background-image: url(./images/rank4-3.jpg);
      }
    }
    &:nth-child(5) li {
      &:nth-child(1) .rankThumBg {
        background-image: url(./images/rank5-1.jpg);
      }
      &:nth-child(2) .rankThumBg {
        background-image: url(./images/rank5-2.jpg);
      }
      &:nth-child(3) .rankThumBg {
        background-image: url(./images/rank5-3.jpg);
      }
    }
  }
}
#sect3 {
  height: 2000px;
  .contentsContainer {
    .contentsWrap {
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 370px;
        height: 560px;
        a {
          figure {
            overflow: hidden;
          }
          &:hover img {
            transform: scale(1.1);
            transition: 0.5s;
          }
          .eventThum {
            height: 258px;
            figure {
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                transition: 0.5s;
              }
            }
          }
          .eventDesc {
            flex-direction: column;
            padding-top: 25px;
            gap: 1.5rem;
            margin-bottom: 38px;
            span {
              display: inline-block;
              width: 90px;
              height: 28px;
              line-height: 28px;
              text-align: center;
              padding: 0 6px;
              font-size: 15px;
              font-weight: 700;
              color: #ec7d2c;
              border: 1px solid #ec7d2c;
            }
          }
          .progressBar {
            width: 100%;
            height: 6px;
            background: #dcdcdc;
            margin-bottom: 14px;
            font-size: 0;
            span {
              display: inline-block;
              width: 60%;
              height: 6px;
              background: #ec7d2c;
            }
            .done {
              width: 100%;
              background: #333;
            }
          }
        }
        .count {
          text-align: right;
        }
      }
    }
  }
}
#sect4 {
  width: 100%;
  // min-width: 1300px;
  overflow: hidden;
  .slidePos {
    width: 840px;
    height: 535px;
    margin: 0 auto;
    position: relative;
    .slideContainer {
      width: 2640px;
      height: 442px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      .mySwiper1 {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        .swiper-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 1;
          .swiper-slide {
            position: relative;
            .textWrap {
              width: 839px;
              height: 80px;
              position: absolute;
              bottom: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.58);
              opacity: 0;
              transition: all 0.5s;
              p {
                font-size: 21px;
                padding: 0 30px;
                color: #fff;
                text-align: center;
                line-height: 91px;
                letter-spacing: -0.03em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              i {
                height: 52px;
                font-style: normal;
                line-height: 57px;
                color: #fff;
                padding: 0 10px;
                font-size: 18px;
                background: #ec7d2c;
                position: absolute;
                left: 32px;
                top: -17px;
              }
            }
            &.swiper-slide-next {
              .dim {
                display: none;
              }
              .textWrap {
                opacity: 1;
              }
            }
            .dim {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
            }
            height: 100%;
            position: relative;
            width: 840px;
            margin-right: 60px;
            figure {
              display: block;
              overflow: hidden;
              img {
                display: block;
                width: 840px;
                height: 440px;
                transition: all 0.3s;
              }
            }
          }
        }
        .swiper-button-next {
          left: 70%;
        }
        .swiper-button-prev {
          left: 30%;
        }
      }
    }
  }
}
#sect5 {
  article {
    position: relative;
    display: flex;
    width: 1000px;
    height: 120px;
    margin: 0 auto 60px;
    .infoWrap {
      width: 100%;
      gap: 60px;
      align-items: center;
      li {
        &:nth-child(1) {
          figure {
            margin-bottom: 10px;
          }
        }
        &:nth-child(2) {
          flex: 2;
          font-size: 15px;
          text-align: center;
          ul {
            li {
              cursor: pointer;
              width: 25%;
            }
            justify-content: space-between;
          }
        }
        &:nth-child(3) {
          align-items: center;
        }
        .shortCuts {
          .snsWrap {
            figure {
              margin-right: 24px;
            }
            margin-bottom: 20px;
          }
        }
        figure {
          display: inline-block;
        }
        p {
          font-size: 13px;
          color: #333;
          line-height: 20px;
          letter-spacing: -0.05em;
          span {
            color: #999;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  min-width: 1300px;
  border-top: 1px solid #ddd;
  padding-bottom: 25px;
  font-size: 15px;
  color: #333;
  div {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  .footerMenu {
    height: 70px;
    text-align: center;
    justify-content: space-between;
    ul {
      gap: 25px;
    }
    #family {
      border: 1px solid #999;
      padding: 5px;
      & option[value=""][disabled] {
        display: none;
      }
    }
  }
  .contactWrap {
    gap: 90px;
    p {
      color: #999;
      font-size: 13px;
      b {
        color: #333;
      }
    }
  }
}
aside {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: #fff;
  z-index: 30;
  border: 1px solid #ddd;
  .popupWrap {
    justify-content: center;
    width: 460px;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
    li {
      width: 140px;
      height: 195px;
      a {
        position: relative;
        display: block;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        div {
          position: absolute;
          bottom: 0;
          left: 0px;
          width: 100%;
          height: 40px;
          background: rgba(0, 0, 0, 0.8);
          text-align: center;
          p {
            font-family: "NanumBarunG";
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:first-child {
              color: #fff;
              margin-top: 6px;
            }
            &:last-child {
              color: #e2782a;
            }
          }
        }
      }
      &:nth-child(1) a {
        background-image: url(./images/popUp-William.jpg);
      }
      &:nth-child(2) a {
        background-image: url(./images/popUp-kids.jpg);
      }
      &:nth-child(3) a {
        background-image: url(./images/popUp-CHO.jpg);
      }
      &:nth-child(4) a {
        background-image: url(./images/popUp-PARK.jpg);
      }
      &:nth-child(5) a {
        background-image: url(./images/popUp-BOY.jpg);
      }
      &:nth-child(6) a {
        background-image: url(./images/popUp-Andy.jpg);
      }
    }
  }
  .closeWrap {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    position: relative;
    input {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #f6f6f6;
      border: 1px solid #999;
      vertical-align: middle;
      margin-left: 16px;
    }
    label {
      font-size: 12px;
      color: #333;
      padding-left: 7px;
      vertical-align: middle;
    }
    a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }
  }
}
