@font-face {
  font-family: "NanumBarunG";
  src: url(./fonts/NanumBarunGothicSubset.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  min-width: 1300px;
  z-index: 999;
  padding: 0px 30px 0px;
  color: #fff;
}
header.fixed {
  position: fixed;
  background-color: #fff;
  color: #000;
}
header.fixed .headerLeft .hambergerWrap span {
  background-color: #000;
}
header.fixed .headerRight .gnb li input {
  border-bottom: 2px solid #000;
  color: #000;
}
header div {
  display: flex;
  align-items: center;
}
header .headerLeft {
  width: 10%;
  gap: 20px;
}
header .headerLeft h1 {
  width: 90px;
  height: 35px;
}
header .headerLeft h1 a {
  display: block;
  height: 100%;
}
header .headerLeft h1 a img {
  width: 100%;
  height: 100%;
}
header .headerLeft .hambergerWrap {
  display: block;
  width: 22px;
  height: 16px;
}
header .headerLeft .hambergerWrap:hover span:nth-child(1) {
  width: 15px;
}
header .headerLeft .hambergerWrap:hover span:nth-child(3) {
  width: 25px;
}
header .headerLeft .hambergerWrap span {
  display: block;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}
header .headerLeft .hambergerWrap span:not(:last-child) {
  margin-bottom: 5px;
}
header .headerLeft .hambergerWrap span:nth-child(1) {
  width: 25px;
}
header .headerLeft .hambergerWrap span:nth-child(2) {
  width: 20px;
}
header .headerLeft .hambergerWrap span:nth-child(3) {
  width: 15px;
}
header .headerCenter {
  width: 60%;
  padding-right: 63px;
  font-size: 18px;
}
header .headerCenter ul {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 26px;
}
header .headerCenter ul li {
  position: relative;
}
header .headerCenter ul li:hover:after {
  width: 100%;
  transition: 0.3s;
}
header .headerCenter ul li::after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: #e2782a;
  z-index: 999;
}
header .headerRight {
  width: 30%;
  font-size: 14px;
}
header .headerRight ul {
  flex: 1;
}
header .headerRight .link li {
  gap: 10px;
}
header .headerRight .link li a {
  display: block;
  width: 60px;
  position: relative;
  text-align: center;
}
header .headerRight .link li a::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #ec7d2c;
  position: absolute;
  top: 10px;
  left: 0;
}
header .headerRight .gnb {
  font-size: 20px;
  gap: 15px;
}
header .headerRight .gnb li i {
  font-weight: 800;
}
header .headerRight .gnb li input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
  padding: 5px;
}

#sec1Swiper {
  width: 1300px 100%;
  height: 700px;
}
#sec1Swiper .swiper-pagination {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
#sec1Swiper .swiper-scrollbar {
  opacity: 1;
  width: 1300px;
  height: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid rgba(215, 215, 215, 0.3);
}
#sec1Swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #e2782a;
  height: 4px;
  width: 82.86px;
}
#sec1Swiper .swiper-scrollbar .slideThum {
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}
#sec1Swiper .swiper-scrollbar .slideThum::after {
  content: "";
  position: absolute;
  top: -1px;
  width: 100%;
  height: 168px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}
#sec1Swiper .swiper-scrollbar .slideThum:hover:after {
  opacity: 1;
}
#sec1Swiper .swiper-scrollbar .slideThum li {
  height: 100%;
  flex: 1;
  position: relative;
}
#sec1Swiper .swiper-scrollbar .slideThum li::before {
  content: "";
  position: absolute;
  opacity: 0;
  background-color: #e2782a;
  border-radius: 10px;
  top: -24px;
  height: 4px;
  width: 82.86px;
}
#sec1Swiper .swiper-scrollbar .slideThum li:hover:before {
  opacity: 1;
}
#sec1Swiper .swiper-scrollbar .slideThum li a {
  position: relative;
  height: 100%;
}
#sec1Swiper .swiper-scrollbar .slideThum li a img {
  display: block;
  width: 100%;
  height: 120px;
  padding-right: 10px;
}
#sec1Swiper .swiper-scrollbar .slideThum li a::after {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% - 10px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#sec1Swiper .swiper-scrollbar .slideThum li a:hover::after {
  opacity: 0;
}
#sec1Swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
#sec1Swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

#sect2,
#sect3,
#sect4 {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#sect2 .contentsWrap,
#sect3 .contentsWrap,
#sect4 .contentsWrap {
  display: none;
  padding-top: 50px;
}
#sect2 .contentsWrap.on,
#sect3 .contentsWrap.on,
#sect4 .contentsWrap.on {
  display: flex;
}
#sect2 b,
#sect3 b,
#sect4 b {
  line-height: 16px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sect2 p,
#sect3 p,
#sect4 p {
  font-size: 13px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sect2 a,
#sect3 a,
#sect4 a {
  display: block;
}
#sect2 h2,
#sect3 h2,
#sect4 h2 {
  font-size: 35px;
  color: #333;
  text-align: center;
  font-weight: 700;
  height: 155px;
  line-height: 155px;
}
#sect2 .tabs,
#sect3 .tabs,
#sect4 .tabs {
  text-align: center;
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
}
#sect2 .tabs li,
#sect3 .tabs li,
#sect4 .tabs li {
  flex: 1;
}
#sect2 .moreBtn,
#sect3 .moreBtn,
#sect4 .moreBtn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#sect2 .moreBtn a,
#sect3 .moreBtn a,
#sect4 .moreBtn a {
  display: block;
  width: 220px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #000;
}

#sect2 {
  height: 800px;
}
#sect2 .contentsWrap {
  position: absolute;
  width: 100%;
  justify-content: space-between;
}
#sect2 .contentsWrap li:hover .rankThumBg {
  transform: scale(1.1);
  transition: 0.5s;
}
#sect2 .contentsWrap li a {
  width: 380px;
  height: 420px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
#sect2 .contentsWrap li a .rankThum {
  overflow: hidden;
  position: relative;
  height: 330px;
}
#sect2 .contentsWrap li a .rankThum .rankThumBg {
  height: 100%;
  transition: 0.5s;
  filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sect2 .contentsWrap li a .rankThum figure {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 280px;
}
#sect2 .contentsWrap li a .rankThum figure img {
  width: 100%;
  height: 100%;
  filter: none;
}
#sect2 .contentsWrap li a .rankDesc {
  text-align: center;
  width: 100%;
  height: 90px;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#sect2 .contentsWrap li a .rankNum {
  position: absolute;
  bottom: 80px;
  left: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  background: #ec7d2c;
}
#sect2 .contentsWrap li a .rankNum p {
  color: #fff;
}
#sect2 .contentsWrap:nth-child(1) li:nth-child(1) .rankThumBg {
  background-image: url(./images/rank1-1.jpg);
}
#sect2 .contentsWrap:nth-child(1) li:nth-child(2) .rankThumBg {
  background-image: url(./images/rank1-2.jpg);
}
#sect2 .contentsWrap:nth-child(1) li:nth-child(3) .rankThumBg {
  background-image: url(./images/rank1-3.jpg);
}
#sect2 .contentsWrap:nth-child(2) li:nth-child(1) .rankThumBg {
  background-image: url(./images/rank2-1.jpg);
}
#sect2 .contentsWrap:nth-child(2) li:nth-child(2) .rankThumBg {
  background-image: url(./images/rank2-2.jpg);
}
#sect2 .contentsWrap:nth-child(2) li:nth-child(3) .rankThumBg {
  background-image: url(./images/rank2-3.jpg);
}
#sect2 .contentsWrap:nth-child(3) li:nth-child(1) .rankThumBg {
  background-image: url(./images/rank3-1.jpg);
}
#sect2 .contentsWrap:nth-child(3) li:nth-child(2) .rankThumBg {
  background-image: url(./images/rank3-2.jpg);
}
#sect2 .contentsWrap:nth-child(3) li:nth-child(3) .rankThumBg {
  background-image: url(./images/rank3-3.jpg);
}
#sect2 .contentsWrap:nth-child(4) li:nth-child(1) .rankThumBg {
  background-image: url(./images/rank4-1.jpg);
}
#sect2 .contentsWrap:nth-child(4) li:nth-child(2) .rankThumBg {
  background-image: url(./images/rank4-2.jpg);
}
#sect2 .contentsWrap:nth-child(4) li:nth-child(3) .rankThumBg {
  background-image: url(./images/rank4-3.jpg);
}
#sect2 .contentsWrap:nth-child(5) li:nth-child(1) .rankThumBg {
  background-image: url(./images/rank5-1.jpg);
}
#sect2 .contentsWrap:nth-child(5) li:nth-child(2) .rankThumBg {
  background-image: url(./images/rank5-2.jpg);
}
#sect2 .contentsWrap:nth-child(5) li:nth-child(3) .rankThumBg {
  background-image: url(./images/rank5-3.jpg);
}

#sect3 .contentsContainer .contentsWrap {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex !important;
}
#sect3 .contentsContainer .contentsWrap li {
  width: 370px;
  height: 560px;
}
#sect3 .contentsContainer .contentsWrap li a figure {
  overflow: hidden;
}
#sect3 .contentsContainer .contentsWrap li a:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
#sect3 .contentsContainer .contentsWrap li a .eventThum {
  height: 258px;
}
#sect3 .contentsContainer .contentsWrap li a .eventThum figure {
  height: 100%;
}
#sect3 .contentsContainer .contentsWrap li a .eventThum figure img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#sect3 .contentsContainer .contentsWrap li a .eventDesc {
  flex-direction: column;
  padding-top: 25px;
  gap: 1.5rem;
  margin-bottom: 38px;
}
#sect3 .contentsContainer .contentsWrap li a .eventDesc span {
  display: inline-block;
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding: 0 6px;
  font-size: 15px;
  font-weight: 700;
  color: #ec7d2c;
  border: 1px solid #ec7d2c;
}
#sect3 .contentsContainer .contentsWrap li a .progressBar {
  width: 100%;
  height: 6px;
  background: #dcdcdc;
  margin-bottom: 14px;
  font-size: 0;
}
#sect3 .contentsContainer .contentsWrap li a .progressBar span {
  display: inline-block;
  width: 60%;
  height: 6px;
  background: #ec7d2c;
}
#sect3 .contentsContainer .contentsWrap li a .progressBar .done {
  width: 100%;
  background: #333;
}
#sect3 .contentsContainer .contentsWrap li .count {
  text-align: right;
}
#sect3 .contentsContainer .contentsWrap .contents {
  display: none;
}
#sect3 .contentsContainer .contentsWrap .contents.on {
  display: block;
}

#sect4 {
  width: 100%;
  overflow: hidden;
}
#sect4 .slidePos {
  width: 840px;
  height: 535px;
  margin: 0 auto;
  position: relative;
}
#sect4 .slidePos .slideContainer {
  width: 2640px;
  height: 442px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
#sect4 .slidePos .slideContainer .mySwiper1 {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide {
  position: relative;
  height: 100%;
  position: relative;
  width: 840px;
  margin-right: 60px;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide .textWrap {
  width: 839px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.58);
  opacity: 0;
  transition: all 0.5s;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide .textWrap p {
  font-size: 21px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  line-height: 91px;
  letter-spacing: -0.03em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide .textWrap i {
  height: 52px;
  font-style: normal;
  line-height: 57px;
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
  background: #ec7d2c;
  position: absolute;
  left: 32px;
  top: -17px;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide.swiper-slide-next .dim {
  display: none;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide.swiper-slide-next .textWrap {
  opacity: 1;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide .dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide figure {
  display: block;
  overflow: hidden;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-wrapper .swiper-slide figure img {
  display: block;
  width: 840px;
  height: 440px;
  transition: all 0.3s;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-button-next {
  left: 70%;
}
#sect4 .slidePos .slideContainer .mySwiper1 .swiper-button-prev {
  left: 30%;
}

#sect5 article {
  position: relative;
  display: flex;
  width: 1000px;
  height: 120px;
  margin: 0 auto 60px;
}
#sect5 article .infoWrap {
  width: 100%;
  gap: 60px;
  align-items: center;
}
#sect5 article .infoWrap li:nth-child(1) figure {
  margin-bottom: 10px;
}
#sect5 article .infoWrap li:nth-child(2) {
  flex: 2;
  font-size: 15px;
  text-align: center;
}
#sect5 article .infoWrap li:nth-child(2) ul {
  justify-content: space-between;
}
#sect5 article .infoWrap li:nth-child(2) ul li {
  cursor: pointer;
  width: 25%;
}
#sect5 article .infoWrap li:nth-child(3) {
  align-items: center;
}
#sect5 article .infoWrap li .shortCuts .snsWrap {
  margin-bottom: 20px;
}
#sect5 article .infoWrap li .shortCuts .snsWrap figure {
  margin-right: 24px;
}
#sect5 article .infoWrap li figure {
  display: inline-block;
}
#sect5 article .infoWrap li p {
  font-size: 13px;
  color: #333;
  line-height: 20px;
  letter-spacing: -0.05em;
}
#sect5 article .infoWrap li p span {
  color: #999;
}

footer {
  width: 100%;
  min-width: 1300px;
  border-top: 1px solid #ddd;
  padding-bottom: 25px;
  font-size: 15px;
  color: #333;
}
footer div {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
footer .footerMenu {
  height: 70px;
  text-align: center;
  justify-content: space-between;
}
footer .footerMenu ul {
  gap: 25px;
}
footer .footerMenu #family {
  border: 1px solid #999;
  padding: 5px;
}
footer .footerMenu #family option[value=""][disabled] {
  display: none;
}
footer .contactWrap {
  gap: 90px;
}
footer .contactWrap p {
  color: #999;
  font-size: 13px;
}
footer .contactWrap p b {
  color: #333;
}

aside {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: #fff;
  z-index: 30;
  border: 1px solid #ddd;
}
aside .popupWrap {
  justify-content: center;
  width: 460px;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}
aside .popupWrap li {
  width: 140px;
  height: 195px;
}
aside .popupWrap li a {
  position: relative;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
aside .popupWrap li a div {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
aside .popupWrap li a div p {
  font-family: "NanumBarunG";
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
aside .popupWrap li a div p:first-child {
  color: #fff;
  margin-top: 6px;
}
aside .popupWrap li a div p:last-child {
  color: #e2782a;
}
aside .popupWrap li:nth-child(1) a {
  background-image: url(./images/popUp-William.jpg);
}
aside .popupWrap li:nth-child(2) a {
  background-image: url(./images/popUp-kids.jpg);
}
aside .popupWrap li:nth-child(3) a {
  background-image: url(./images/popUp-CHO.jpg);
}
aside .popupWrap li:nth-child(4) a {
  background-image: url(./images/popUp-PARK.jpg);
}
aside .popupWrap li:nth-child(5) a {
  background-image: url(./images/popUp-BOY.jpg);
}
aside .popupWrap li:nth-child(6) a {
  background-image: url(./images/popUp-Andy.jpg);
}
aside .closeWrap {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ddd;
  background: #f6f6f6;
  position: relative;
}
aside .closeWrap input {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f6f6f6;
  border: 1px solid #999;
  vertical-align: middle;
  margin-left: 16px;
}
aside .closeWrap label {
  font-size: 12px;
  color: #333;
  padding-left: 7px;
  vertical-align: middle;
}
aside .closeWrap a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}